<div class="singleItemWrap animated fadeInUp">
	<div class="container">
		<div class="singleItem tile">
		<div class="back" ui-sref="feed">back to results</div>
			<header>
				<div class="title">
					<h1>{{ item.title }}</h1>
				</div>
				
				<div class="meta">
					<div class="author">
						<a href="{{ item.authorLink }}">
							{{ item.author }}
						</a>
					</div>
					<div class="date">
						{{ item.date_taken}}
					</div>
				</div>
			</header>
			<div class="row">
				
				<div class="col-sm-4">
					<div class="image animated" ng-background-preload image-url="{{ item.image }}" class-on-load="zoomIn">
					</div>
				</div>
				<div class="col-sm-8">
					<div class="body" ng-bind-html="item.description | unsafe" >
						
					</div>
					<div class="tags">
						
					</div>
				</div>
			</div>
			
			
		</div>
	</div>
</div>