<div class="wrap" ng-show="loaded">
	
	<div class="tile" ng-repeat="item in items" ng-click="viewDetail($index)">
		<div class="inner">
			
			<div class="row">
				<div class="col-sm-2">
					<div class="image animated" ng-background-preload image-url="{{ item.media.m }}" class-on-load="zoomIn">
					</div>
				</div>
				<div class="col-sm-10">
					
					<div class="title">
						<h2>{{ item.title }}</h2>
					</div>

					<div class="meta">
						<div class="author">
							{{ item.author }}
						</div>
						
						<div class="date">
							{{ item.date_taken }}
						</div>

						<div class="link">
							<a href="{{ item.link }}">View on Flickr</a>
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>

	<button class="btn btn-primary btn-lg loadMore" ng-click="loadMore()">Load More</button>

</div>

<div ui-view></div>