/* ==========================================================================
   Flickr Tile
   ========================================================================== */

.tile {
	@extend .animated;
	
	margin-bottom: $grid-gutter-width;
		&.ng-enter {
			-webkit-transition: 1s linear all; /* Chrome */
			transition: 1s linear all;
			opacity: 0;
		}

		&.ng-enter.ng-enter-active {
			opacity: 1;
			-webkit-animation-name: fadeInUp;
			animation-name: fadeInUp;
		}


	/* 
	   Image
	   ========================================================================== */
	
	.image {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding-top: 100%;

	}
	
	
	/* 
	   Title
	   ========================================================================== */

	.title {
		margin-top: $grid-gutter-width /2;
		margin-bottom: $grid-gutter-width /2;
	}
	
	/* 
	   Meta
	   ========================================================================== */

	.meta {
		> div {
			display: inline-block;
		}
	}

}
