/* ==========================================================================
   Flickr Tile
   ========================================================================== */

.tile {
	@extend .animated;
		
		margin-bottom: 30px;
			
		@include breakpoint($sm) {
			margin-bottom: $grid-gutter-width;
		}

		&.ng-enter {
			-webkit-transition: 1s linear all; /* Chrome */
			transition: 1s linear all;
			opacity: 0;
		}

		&.ng-enter.ng-enter-active {
			opacity: 1;
			-webkit-animation-name: fadeInUp;
			animation-name: fadeInUp;
		}


	/* 
	   Image
	   ========================================================================== */
	
	.image {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding-top: 100%;
		cursor: pointer;
	}
	
	
	/* 
	   Title
	   ========================================================================== */

	.title {
		cursor: pointer;
	    margin-top: 0px;
	    margin-bottom: 5px;

	    @include breakpoint(800px) {
    		margin-top: $grid-gutter-width /2;
			margin-bottom: $grid-gutter-width /2;
	    }
		h2 {

			&.truncate {
				white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    width: 100%;
			}

		}


	}
	
	/* 
	   Meta
	   ========================================================================== */

	.meta {
		display: flex;
		flex-wrap: wrap;

		@include breakpoint(800px) {
			flex-wrap: nowrap;
		}

		> br {
			@include breakpoint(800px) {
				display: none;
			}
		}
		.author {
			order: 2;
			margin-right: 20px;
			@include breakpoint(800px) {
				order: 1;
				margin-right: 0;
			}

		}

		.date {
			width: 100%;
		    margin-bottom: 5px;
			order: 1;
			
			@include breakpoint(800px) {
				order: 2;
				margin: 0 20px;
				width: auto;

			}
		}
		
		.link {
			order: 3;

		}
		
	}


}
