/* ==========================================================================
   Single Item
   ========================================================================== */

.singleItemWrap {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: $white;
	color: $blue;


	.singleItem {

		position: relative;
		
		/* 
		   Header
		   ========================================================================== */
		
		header {
		    padding-top: 80px;
		    @include breakpoint($sm) {
		    	padding-top: $grid-gutter-width *2;
		    }
		}
		
			
		/* 
		   Title
		   ========================================================================== */
		
		.title {
			color: $pink;
		}
		
		/* 
		   Meta
		   ========================================================================== */
		
		.meta {
			margin-bottom: $grid-gutter-width;
		}

		/* 
		   Image
		   ========================================================================== */
		
		.image {
			margin-bottom: 20px;

			@include breakpoint($sm) {
				margin-bottom: 0;
			}
		}
	
		
		/* 
		   Tags
		   ========================================================================== */
		
		.tag {
			display: inline-block;
			margin-left: 10px;
		}
		
		/* 
		   Back
		   ========================================================================== */
		.back {
		    font-size: 15px;
		    margin-bottom: 20px;
		    color: #ad2b65;
		    position: absolute;
		    top: 42px;
			cursor: pointer;
		    right: 0;

		    &:hover {
		    	color: $blue;
		    }
		}
		
		
	}

}

/* 
   Associated UI View
   ========================================================================== */

.singleItemView {
	position: absolute;
	top: 0;
	left: 0;

	&.ng-leave {
		@extend .fadeOut;
		-webkit-animation-duration: 0.3s;
		  animation-duration: 0.3s;
	}
}